<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/FionaSitis1/" target="_blank">
                <img src="assets/image/github.png" alt="git" class="icons">
              </a>
            </li>
            <li class="list-inline-item">
                <a href="https://weibo.com/u/2691736757" target="_blank">
                  <img src="assets/image/weibo.png" alt="git" class="icons">
                </a>
              </li>
              <li class="list-inline-item">
                <a href = "mailto: fionasitis1@gmail.com" target="_blank">
                  <img src="assets/image/email.png" alt="git" class="icons">
                </a>
              </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; @鲨人鲸鲨 | All rights reserved | {{year}} </p>
        </div>
      </div>
    </div>
  </footer>