
    .background-container {
        background-image: url('src/assets/image/mobile.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        
      }

