button{
    /* float: right; */
    text-decoration:underline;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.mybutton{
    display: flex;
    justify-content: center;
    float: right;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container{
    margin: 0px 100px;
}

@media (max-width: 640px) and (min-width: 320px){
    .container{
        margin: 0px 0px;
    }
    button{
        font-size: 10px;
    }
 
}