button{
    /* float: right; */
    text-decoration:underline;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.mybutton{
    display: flex;
    justify-content: center;
    float: right;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
